body {
	background-color: #F7F7F7;
}
.header {
  color: gray;
  height: : 20%;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif; position: relative; 
  text-align:center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.image {
  width:100px;
  height:auto;
  vertical-align: middle;
}


.conexionOcupada {
  stroke: red;
}

.conexionLibre {
  stroke: green;
}


.list-inputs {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.simulador{
  display:flex;
  flex-direction:row;

}

.imputs{
	font-family: 'Montserrat', sans-serif; position: relative;
	font-size: 12px;
	font-size-adjust: 0.5;
	background-color: #c4c4c4;
	height: 30px;
	text-align:center;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px
}

.pasos{
  font-family: 'Montserrat', sans-serif; position: relative;
  margin-top: 5px
}

.rowProcesadores{
  display: flex;
  align-items: center;
  justify-content: center;
}






.simu {
	background-color:red;
	height: 500px;
	text-align:center;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
}

.sistema {
  background-color:grey;
  margin: 30px 10px 10px 10px;
}

.procesador{
  width: 50px; 
  height: 50px; 
  border: 3px solid #555;
  background: #428bca;
  margin: 30px 10px 10px 10px;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif; position: relative;
  font-size: 7px;
}

.crossbar {
  width: 50px; 
  height: 50px; 
  max-width: 100%;
  background: #f0e68c;
  padding: : 30px 10px 10px 10px;
}


.etapa {
  width: 100%; 
  height: 100%; 
  border: 3px solid #555;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  background-color: #ffebcd;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.memoria {
  width: 100%; 
  height: 100%; 
  border: 3px solid #555;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.myrow{ 
    display: flex;
    flex-wrap: wrap;
}

.col.my-col {
  padding: 20px 20px 20px 20px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}




.slotMemoria {
  width: 80%;
  max-width: 80%; 
  height: 30px; 
  background: #E1E1E1;
  text-align:center;
  color:black;
  font-family: 'Montserrat', sans-serif; position: relative;
  font-size: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
 
}

.list-cross {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.list-puertos {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  padding: 0;
}

.nopadding {
  padding: 0 !important;
}

.puertoLibre{
  width: 100%px; 
  height: 10px; 
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}

.puertoOcupado {
  width: 100%px; 
  height: 10px; 
  background-color: green;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}

.columnL {
  float: left;
  width: 5%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}

.columnC {
  float: right;
  width: 90%;
} 

.columnR {
  float: right;
  align-items: right;
  align-content: right;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  width: 5%;
}
.container {
  background-repeat: no-repeat;
  height: 100%;
  position:relative;
}
/* Clear floats after the columns */

h2 {

}

p {
  color: rgb(32,32,32);
  text-align: left;
}